@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
html{
    font-family: 'Ubuntu', sans-serif;   
}
button{
    padding: 12px 54px;
    cursor: pointer;
}
#header
{
    width: 50%;
}